[Unit]
Description=pprotein-agent is collecting logs and metrics for pprotein

[Service]
ExecStart=/usr/bin/pprotein-agent
WorkingDirectory=/var/lib/pprotein
Environment=PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Restart=always
User=root

[Install]
WantedBy=multi-user.target
