[Unit]
Description=Performance monitoring utilities for API server written in Go, works with pprof/fgprof/alp/slp

[Service]
ExecStart=/usr/bin/pprotein
WorkingDirectory=/var/lib/pprotein
Environment=PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin
Restart=always
User=root

[Install]
WantedBy=multi-user.target
